*{
    font-family: sans-serif;
    text-decoration: none;
    
}
body{
    margin: 0;
    padding: 0;
}
header{
    top:0;
    left: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0;
}


li::marker{
    color: rgb(0, 47, 255);
}

p{
    color: rgb(128, 128, 128);
}

b{
    color: black;
}

i{
    color: rgb(0, 119, 255);
}
.phanDau_a{
    font-size: 200%;
    text-align: center;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 100px;
    padding-bottom: 200px;
}

.phanDau_b{
    text-align: center;
    display: grid;
    grid-row: repeat(5, auto);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;
}

.phanGiua_a{
    display: grid;
    font-size: 16px;
    padding: 10px;
    grid-template-columns: 1fr 1fr ;
    margin-right: -17px;
    margin-left: -17px;
    margin-top: -10px;
}

.phanGiua_a_L{
    background-color: rgba(128, 128, 128, 0.166);
    padding-left: 50px;
    padding-right: 35px;
    line-height: 1.5;
    padding-top: 40px;
}

.phanGiua_a_R{
    background-color: rgba(128, 128, 128, 0.351);
    padding-left: 50px;
    padding-right: 35px;
    line-height: 1.5;
    padding-top: 40px; 
}

.phanGiua_b{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    gap: 20px;
}

.phanGiua_b_trong{
    border: 1px solid black;
    padding: 20px;
}


.ngon_ngu, .ky_nang {
    margin-bottom: 15px;
}

.thanh_tien_trinh {
    width: 100%;
    height: 5px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}


.tien_trinh_mau {
    height: 100%;
    transition: width 0.5s ease-in-out;
}

.xanh_duong {
    background-color: rgb(255, 0, 17);
}

.xam_nhat {
    background-color: lightgray;
}

.phanCuoi_a{
    margin-left: 30%;
    margin-right: 30%;
}

.ke_khung{
    border: 1px solid black;
    padding-left: 40px;
    padding-right: 20px;
}

.phanCuoi_a_trong{
    text-align: left;
    margin: auto;
    padding: auto;
}

.can_chinh{
    text-align: center;
}

.phanCuoi_b{
    text-align: center;
    background-color: rgba(128, 128, 128, 0.247);
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    margin-top: -10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-size: 20px;
}

.nut_home{
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    background-color: black;
    border-radius: 5px;
}

.phong_to:hover {
    transition: transform 0.3s ease-in-out;
}
.phong_to:hover {
    transform: scale(1.05);
}

.nut{
    
    text-align: center;
    display: grid;
    font-size: 20px;
    gap: 20px;
    margin-right: 50px;
    margin-right: 50px;
    border-radius: 5px;
    padding: 5px;
}

.download{
    display: flex;
    justify-content: center;
    text-align: center;
}